<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  href="css/footer.css"/>
       <link rel="stylesheet"  href="css/rentas.css"/>
       <link rel="stylesheet"  href="css/nav.css"/>
       <link rel="stylesheet"  href="css/footer.css"/>
       <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rethink Sans:wght@400&display=swap" />
   
  </head>
  <header>
    <%- include('templates/nav') %>
  </header>
<div class="rentas-container">
    <h2 class="rentas-title">Rentas <strong>Disponibles</strong></h2>
    <div class="renta-item">
      <img src="img/renta1.jpg" alt="Imagen Renta 1" class="renta-image">
      <div class="renta-content">
        <h3>Renta 1</h3>
        <p>
          Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry’s standard dummy text since the 1500s...
        </p>
        <button class="renta-button">Ver más →</button>
      </div>
    </div>
  
    <div class="renta-item">
      <img src="img/renta2.jpg" alt="Imagen Renta 2" class="renta-image">
      <div class="renta-content">
        <h3>Renta 2</h3>
        <p>
          Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry’s standard dummy text since the 1500s...
        </p>
        <button class="renta-button">Ver más →</button>
      </div>
    </div>
  
    <div class="renta-item">
      <img src="img/renta3.jpg" alt="Imagen Renta 3" class="renta-image">
      <div class="renta-content">
        <h3>Renta 3</h3>
        <p>
          Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry’s standard dummy text since the 1500s...
        </p>
        <button class="renta-button">Ver más →</button>
      </div>
    </div>
  </div>
  <footer>
    <%- include('templates/footer') %>
</footer>

  </html>