<html>
<head>
    <link rel="stylesheet"  href="css/footer.css"/>
   <link rel="stylesheet"  href="css/resenas.css"/>

</head>
<div class="rese単as-container">
    <h1>HAZ<br /><strong>Una Rese単a</strong></h1>
    <div class="rese単as-formulario">
      <h2>Rese単a</h2>
      <form>
        <input type="text" placeholder="Comentarios" required />
        <input type="text" placeholder="Sugerencias" required />
        <input type="email" placeholder="E-mail*" required />
        <input type="text" placeholder="Servicio/Interno" />
        <textarea placeholder="Mensaje*" required></textarea>
        <button type="submit">ENVIAR</button>
      </form>
    </div>
  </div>
  <footer>
    <%- include('templates/footer') %>
</footer>
  </html>