<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	<link rel="stylesheet"  href="css/footer.css"/>
     <link rel="stylesheet"  href="css/sobrenosotros.css"/>
     <link rel="stylesheet"  href="css/nav.css"/>
     <link rel="stylesheet"  href="css/footer.css"/>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rethink Sans:wght@400&display=swap" />
 
</head>
<header>
  <%- include('templates/nav') %>
</header>
<div class="contacto-mapa-container">
    <div class="informacion-contacto">
      <h1>
        Información <br />
        <strong>de contacto</strong>
      </h1>
      <p>
        <strong>Dirección</strong> <br />
        <a href="https://www.uteq.edu.mx/" target="_blank">
          Universidad Tecnológica de Xicotepec de Juárez
        </a>
      </p>
      <p>
        <strong>Teléfono</strong> <br />
        7641125849
      </p>
      <p>
        <strong>Email</strong> <br />
        <a href="mailto:alquilermexico@gmail.com">alquilermexico@gmail.com</a>
      </p>
      <button>CONTÁCTANOS</button>
    </div>
    <div class="mapa-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11731.853390714187!2d-98.06243604567296!3d20.27881080540347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d8bff5cd8301db%3A0xf324fd4dfd5c8017!2sUniversidad%20Tecnol%C3%B3gica%20de%20Xicotepec%20de%20Ju%C3%A1rez!5e0!3m2!1ses-419!2smx!4v1688797681668!5m2!1ses-419!2smx"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  


<footer>
    <%- include('templates/footer') %>
</footer>


</html>