<div class="footer">
    <div class="rectangle-parent">
    <div class="group-child">
    </div>
    <img class="line-icon" alt="" src="Line.svg">
    <div class="landing-all">© 2024 Todos los derechos reservados</div>
    </div>
    <img class="image-36-icon" alt="" src="img/logo2.png">
    <div class="div">
    <b class="follow-us">Redes Sociales</b>
    <img class="twitter-alt-1-icon" alt="" src="img/X.png">
    <img class="instagram-1-1" alt="" src="img/instagram.png">
    <img class="whatsapp-1-icon" alt="" src="img/whatsapp.png">
    <img class="facebook-1-icon" alt="" src="img/facebook.png">
    </div>
    <div class="parent">
    <div class="div1">7641125849</div>
    <div class="alojamientosxicogmailcom">alojamientosxico@gmail.com</div>
    <div class="inicio">Inicio</div>
    <div class="rentas">Rentas</div>
    <div class="sugerencias">Sugerencias</div>
    <div class="reseas">Reseñas</div>
    <div class="sobre-nosotros">Sobre nosotros</div>
    <b class="informacin">Información</b>
    <b class="contacto">Contacto</b>
    <img class="vector-icon" alt="" src="img/ubicacion.png">
    <img class="group-icon1" alt="" src="img/telefono.png">
    <img class="group-icon2" alt="" src="img/correo.png">
    <div class="universidad-tecnolgica-de">Universidad Tecnológica de Xicotepec de Juárez</div>
    </div>
    </div>