<div class="nav-bar">
    <div class="nav-item">
    </div>
    <div class="home-container">
          <div class="home-section" id="homeSection">Inicio</div>
          <div class="item-top">
          </div>
          <div class="item-bottom">
          </div>
    </div>
    <div class="rental-container">
          <div class="rental-section" id="rentalText">Rentas</div>
          <div class="item-overlay">
          </div>
          <div class="rectangle-container">
          </div>
    </div>
    <div class="suggestions-container">
          <div class="suggestions-section" id="suggestionsText">Sugerencias</div>
          <div class="child-overlay1">
          </div>
          <div class="child-overlay2">
          </div>
    </div>
    <div class="reviews-container">
          <div class="reviews-section" id="reviewsText">Reseñas</div>
          <div class="child-overlay1">
          </div>
          <div class="child-overlay2">
          </div>
    </div>
    <div class="about-container">
          <div class="about-section" id="aboutText">Sobre nosotros</div>
          <div class="child-overlay1">
          </div>
          <div class="child-overlay2">
          </div>
    </div>
    <img class="logo-icon" alt="" src="img/logo.png">
</div>