<div class="nav-bar">
      <div class="nav-item">
      </div>
      <div class="home-container">
            <a href="/inicio" class="home-section" id="homeSection">Inicio</a>
            <div class="child-overlay1">
            </div>
            <div class="child-overlay2">
            </div>
      </div>
      <div class="rental-container">
            <a href="/rentas" id="rentalText" class="about-section">Rentas</a>
            <div class="item-overlay">
            </div>
            <div class="rectangle-container">
            </div>
      </div>
      <div class="suggestions-container">
            <a href="/sugerencias" id="suggestionsText" class="about-section">Sugerencias</a>
            <div class="child-overlay1">
            </div>
            <div class="child-overlay2">
            </div>
      </div>
      <div class="reviews-container">
            <a href="/resenas" id="aboutText" class="about-section">Reseñas</a>
            <div class="child-overlay1">
            </div>
            <div class="child-overlay2">
            </div>
      </div>
      <div class="about-container">
            <a href="/sobrenosotros" id="aboutText">Sobre nosotros</=>
            <div class="child-overlay1">
            </div>
            <div class="child-overlay2">
            </div>
      </div>

      
      <img class="logo-icon" alt="" src="img/logo.png">
  </div>
